<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>ToDo List_Project</title>
</head>
<body>

    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">
                    Task planer
                </div>
                <div class="form">
                    <input type="text"
                    placeholder="Create new task"
                     v-bind:value="valueInput"
                     v-on:input="handlyInput"
                     v-on:keypress.enter="addTask">
                    <button class="btn" v-on:click="addTask">Create task</button>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>
                <span>Running</span>
            </h2>
            <ul class="mask-list">
                <li 
                v-for="(mask,index) in needDoList" :key="mask.id">
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index, 'need')">
                        <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-delete" 
                    v-on:click="deleteMask(index, 'need')">Delete</button>
                </li>
            </ul>

            <h2>
                <span>Done</span>
            </h2>
            <ul class="mask-list complete-list">
                <li 
                v-for="(mask, index) in completeList" :key="mask.id">
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index, 'complete')" checked>
                        <span>{{ mask.title }}</span>
                    </div>
                    <button class="btn-delete" 
                    v-on:click="deleteMask(index, 'complete')">Delete</button>
                </li>
            </ul>

        </div>


    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
</body>
</html>